/* Hide horizontal scrollbar everywhere */
.overflow-x-hidden {
    overflow-x: hidden !important;
}

/* Custom Scrollbar for the list */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    /* Dark slate color */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #334155;
}

/* Firefox support */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #1e293b transparent;
}